/* 모든 h1에 대하여 적용 */
h1 {
    color: red;
}
/* class = ""에 대해서만 적용 */
.Class1 {
    color: yellow;
}
/* id = ""에 대해서만 적용 */
#head {
    font-size: 300%;
}

/* css 적용 우선순위 */
/*
1순위 인라인 스타일 ------ex) <h1 style="color:red;">
2순위 ID 선택자,  즉 #
3순위 Class 선택자, 즉 .
4순위 태그 선택자 --------ex) h1 { color: blue; }
*/


